@charset "UTF-8";
body {
  background: url("https://u.cubeupload.com/Elusive/c9b3085272.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}
body * {
  font-family: "Rubik", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

div.background-opacity🔶 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  z-index: -1;
}

div.loading-screen🔶 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
  display: grid;
  place-content: center;
}
div.loading-screen🔶 div.loader🔶 {
  height: 3rem;
  aspect-ratio: 1;
  display: inline-block;
  position: relative;
  background: hsl(0, 0%, 100%);
  box-sizing: border-box;
  animation: cubeAnimation 1s ease infinite alternate-reverse;
}

@keyframes cubeAnimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}
div.app🔶 {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 0 22.5rem;
  transition: all 300ms ease;
}
div.app🔶 .app-section🔶 {
  display: flex;
  flex-direction: column;
}
div.app🔶 .app-section🔶 div.box-layout🔶 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  width: 100%;
  gap: 2rem;
}
div.app🔶 .app-section🔶 div.box-layout🔶 div.box🔶 {
  background-image: radial-gradient(100% 150% at 50% -35%, hsla(223, 20%, 7%, 0) 0%, hsla(223, 20%, 7%, 0.75) 100%), linear-gradient(180deg, hsla(223, 20%, 7%, 0) -35%, hsla(223, 20%, 7%, 0.375) 100%), linear-gradient(180deg, hsla(223, 20%, 7%, 0.375) -35%, hsla(223, 20%, 7%, 0) 100%), var(--box-game-theme);
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  height: 25rem;
  box-shadow: none;
}
div.app🔶 .app-section🔶 div.box-layout🔶 div.box🔶:hover {
  box-shadow: 0 0 1.25rem 0 hsla(var(--theme-accent-color), 0.5);
  z-index: 1;
}
div.app🔶 .app-section🔶 div.box-layout🔶 div.box🔶 div.action-container🔶 {
  position: absolute;
  left: 0.625rem;
  bottom: 0.625rem;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  height: 10rem;
  gap: 0.25rem;
  border-radius: 0 0 0 0.5rem;
  overflow: hidden;
}
div.app🔶 .app-section🔶 div.box-layout🔶 div.box🔶 div.action-container🔶 button.action-container-button🔶 {
  border: none;
  outline: none;
  background-color: hsla(0, 0%, 0%, 0.6);
  -webkit-backdrop-filter: blur(0.1875rem);
          backdrop-filter: blur(0.1875rem);
  color: hsl(220, 6%, 30%);
  transition: all 300ms ease;
  cursor: pointer;
  flex: 1 0 0;
}
div.app🔶 .app-section🔶 div.box-layout🔶 div.box🔶 div.action-container🔶 button.action-container-button🔶:hover {
  color: hsl(222, 5%, 62%);
  background-color: hsla(0, 0%, 0%, 0.3);
}
div.app🔶 .app-section🔶 div.box-layout🔶 div.box🔶 div.coming-soon🔶 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.6);
  -webkit-backdrop-filter: blur(0.1875rem);
          backdrop-filter: blur(0.1875rem);
  color: hsl(var(--theme-accent-color));
  border-radius: 0.5rem;
  pointer-events: none;
  z-index: 1;
  display: grid;
  place-content: center;
}
div.app🔶 .app-section🔶 div.box-layout🔶 div.box🔶 div.game-name🔶 {
  position: absolute;
  top: 0;
  height: 2rem;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.6);
  color: hsl(var(--theme-accent-color));
  -webkit-backdrop-filter: blur(0.1875rem);
          backdrop-filter: blur(0.1875rem);
  border-radius: 0.5rem 0.5rem 0 0;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: all 300ms ease;
  z-index: 2;
}
div.app🔶 .app-section🔶 div.box-layout🔶 div.box🔶 div.game-name🔶:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}
div.app🔶 nav.app-navigation🔶 {
  display: flex;
  justify-content: space-between;
  flex-basis: 3rem;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
}
div.app🔶 nav.app-navigation🔶 button.app-navigation-button🔶, div.app🔶 nav.app-navigation🔶 a.app-navigation-button🔶 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
  background-color: hsla(0, 0%, 0%, 0.6);
  cursor: pointer;
  color: hsl(220, 6%, 30%);
  transition: all 300ms ease;
  text-decoration: none;
  font-weight: 500;
}
div.app🔶 nav.app-navigation🔶 button.app-navigation-button🔶:hover, div.app🔶 nav.app-navigation🔶 a.app-navigation-button🔶:hover {
  color: hsl(222, 5%, 62%);
  background-color: hsla(0, 0%, 0%, 0.3);
  padding: 0 1.5rem;
}
div.app🔶 nav.app-navigation🔶 button.app-navigation-button🔶:hover span.app-navigation-button-icon🔶, div.app🔶 nav.app-navigation🔶 a.app-navigation-button🔶:hover span.app-navigation-button-icon🔶 {
  background-color: hsl(var(--theme-accent-color));
  color: hsl(0, 0%, 0%);
}
div.app🔶 nav.app-navigation🔶 button.app-navigation-button🔶.app-navigation-button-active🔶, div.app🔶 nav.app-navigation🔶 a.app-navigation-button🔶.app-navigation-button-active🔶 {
  color: hsl(var(--theme-accent-color));
  background-color: hsla(0, 0%, 0%, 0);
  pointer-events: none;
  padding: 0 1.5rem;
}
div.app🔶 nav.app-navigation🔶 button.app-navigation-button🔶.app-navigation-button-active🔶 span.app-navigation-button-icon🔶, div.app🔶 nav.app-navigation🔶 a.app-navigation-button🔶.app-navigation-button-active🔶 span.app-navigation-button-icon🔶 {
  background-color: hsl(var(--theme-accent-color));
  color: hsl(0, 0%, 0%);
}
div.app🔶 nav.app-navigation🔶 button.app-navigation-button🔶 span.app-navigation-button-icon🔶, div.app🔶 nav.app-navigation🔶 a.app-navigation-button🔶 span.app-navigation-button-icon🔶 {
  height: 1rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border-radius: 0.25rem;
  background-color: hsla(220, 6%, 30%, 0.15);
  color: hsl(220, 6%, 30%);
  transition: all 300ms ease;
}
div.app🔶 nav.app-navigation🔶 div.app-navigation-button-group🔶 {
  display: flex;
}

@media (max-width: 113.75rem) {
  div.app🔶 {
    padding: 0 20rem;
  }
}
@media (max-width: 107.5rem) {
  div.app🔶 {
    padding: 0 17.5rem;
  }
}
@media (max-width: 101.25rem) {
  div.app🔶 {
    padding: 0 15rem;
  }
}
@media (max-width: 95rem) {
  div.app🔶 {
    padding: 0 12.5rem;
  }
}
@media (max-width: 88.75rem) {
  div.app🔶 {
    padding: 0 10rem;
  }
}
@media (max-width: 82.5rem) {
  div.app🔶 {
    padding: 0 7.5rem;
  }
}
@media (max-width: 76.25rem) {
  div.app🔶 {
    padding: 0 5rem;
  }
}
@media (max-width: 70rem) {
  div.app🔶 {
    padding: 0 2.5rem;
  }
}
@media (max-width: 63.75rem) {
  div.app🔶 {
    padding: 0rem;
  }
}/*# sourceMappingURL=style.css.map */